@tailwind base;
@tailwind components;
@tailwind utilities;

:where(html, body) {
  height: 100%;
}

@layer base {
  body {
    @apply bg-white text-black dark:bg-[#010101] dark:text-white;
  }
}

/* .bg-square {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  padding: 120px 24px 160px;
  display: flex;
  justify-content: center;
} */

.bg-square::after {
  background-image: url(/images/grid.svg);
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.5;
}

.links-pattern::after {
  background: url(/images/darkpattern.svg) no-repeat 50% -250px;
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.5;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

* ::-webkit-scrollbar-thumb {
  background: rgba(234, 255, 150, 1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  opacity: 1;
  width: 1px;
}

::-webkit-scrollbar-track {
  width: 1px;
  background: rgba(0, 0, 0, 0);
  /* border-radius: 10px; */
}

.gradient-bg-to-b {
  @apply border border-zinc-400 bg-gradient-to-b from-black/10 to-white/10 shadow-lg shadow-zinc-800/5 backdrop-blur dark:border-zinc-800 dark:from-black dark:to-white/10;
}
