@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #010101;
  color: white;
}

/* .bg-square {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  padding: 120px 24px 160px;
  display: flex;
  justify-content: center;
} */

.bg-square::after {
  background-image: url(/grid.svg);
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.5;
}

.links-pattern::after {
  background: url(/darkpattern.svg) no-repeat 50% -250px;
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.5;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

* ::-webkit-scrollbar-thumb {
  background: #eaff96;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  opacity: 1;
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
}
